* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --lightgray: #5a5959;
  --gray: #3F3F3F;
  --red: #ff0436;
}

.nav {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 99999;
}

.nav_img img {
  max-width: 200px;
}

.nav_links {
  display: flex;
  gap: 25px;
  list-style: none;
  font-size: 17px;
}

.nav_links a {
  text-decoration: none;
  color: var(--white);
}

.nav_buttons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav_buttons i {
  color: var(--white);
  font-size: 25px;
}

.nav_buttons button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 3px;
  border: 2px solid var(--lightgray);
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.nav_buttons button i {
  transition: 1.5s;
  font-size: 40px;
  color: var(--white);
}

.nav_buttons button i:hover {
  transform: rotateZ(360deg);
}

.hero {
  /* height: 95vh; */
  position: relative;
}

.hero_background {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}

.hero_content {
  z-index: 2;
  position: relative;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 200px 0 100px 700px;
}

.hero_text h4 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero_text h1 {
  font-size: 50px;
  font-weight: 800;
}

.hero_text h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 60px;
}

.hero_btn {
  position: relative;
  width: 190px;
  height: 55px;
  border: 2px solid rgba(255, 255, 255, 0.362);
}

.hero_text button {
  width: 190px;
  height: 55px;
  font-size: 16px;
  font-weight: 700;
  margin: -18px 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero_text button:hover {
  margin: -2px; /* Becasue border-width 2px */
}

.hero_text button i {
  color: var(--red);
  margin-left: 5px;
}

.hero_social {
  position: absolute;
  top: 300px;
  right: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  transform: rotate(270deg);
}

.hero_social i {
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s ease;
  transform: rotate(90deg);
}

.hero_social i:hover {
  color: var(--red);
}

.hero-pages {
  height: 280px;
  background-image: url("/public/images/login/banner.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 30px;
}

.hero-pages h3 {
  color: var(--white);
  font-size: 40px;
}

/* .about {
  background-image: url("../src/images/about_background.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
} */

.about_general {
  display: flex;
  gap: 30px;
  padding: 80px 150px;
  margin: -50px 0;
  position: relative;
  z-index: 2;
}

.about_general div {
  padding: 30px;
  background-image: url("../src/images/general_bg.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  border-radius: 40px 0;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}

.about_general div:hover {
  background-image: url('../src/images/general_bg_hover.jpg');
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
}

.about_general div > * {
  margin-bottom: 15px;
}

.about_whoweare {
  padding: 40px 150px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.about_whoweare img {
  max-width: 600px;
  width: 100%;
}

.about_whoweare_text h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.about_whoweare_text h1 {
  font-size: 35px;
  line-height: 1.3;
  word-spacing: 4px;
  margin-bottom: 15px;
}

.about_whoweare_text p {
  font-size: 18px;
  color: var(--lightgray);
  margin-bottom: 60px;
}

.about_outstanding {
  display: flex;
  text-align: center;
}

.about_outstanding img {
  margin-bottom: 9px;
  max-width: 60px;
}

.about_outstanding h4 {
  font-size: 18px;
}

.about_outstanding div:nth-child(2) {
  border-left: 0.7px solid var(--gray);
  border-right: 0.7px solid var(--gray);
}

.whoweare_btn {
  margin-top: 80px;
  width: 190px;
  height: 55px;
  border: 1px solid var(--lightgray);
}

.whoweare_btn button {
  width: 190px;
  height: 55px;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--gray);
  margin: -18px 15px;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}

.whoweare_btn button:hover {
  margin: -1px; /* Becasue border-width 2px */
  background-color: var(--red);

}

.whoweare_btn button i {
  margin-left: 5px;
}
